@import "../../styles/palette.scss";
.backgroundImg{
    background-image: url("../../../public/assets/works_images/apper_background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
    padding-top: 30px;
   
  


    &-offer{
      //max-width: 1480px;
      width: 95%;
      height: 28px;
      font-family: $primaryFont;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;

      margin: auto;
      @media (max-width: $xl) {
        max-width: 1170px;
      }
    
      @media (max-width: $lg) {
        max-width: 925px;
      } 
      justify-content: flex-start;
      padding: 110px 0 0;    
     
      
    &-text {
      height: 64px;
      width: auto;
      display: block;
      font-family: $primaryFont;
      font-size: 64px;
      font-weight: 800;
      line-height: 1;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      background-color: transparent;
    }

      &_bottom{
        max-width: 1480px;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        background-color: transparent;
        margin-top: 25px;
      }

      &_button{
        width: 265px;
        padding: 20px 0;
        margin-top: -20px;
        margin-left: 25px;
        background: $secondColor;
        color: $darkColor;
        text-align: center;
        align-content: center;
      }
    }
}



.offers{
  height: 307px;
  display: grid;
  width: 95%;
  margin: auto;
  grid-column-gap: 5px;

  &-top {
    grid-template-columns: 1fr 5fr 1fr;
    margin-bottom: 5px;

    .offers-item:nth-child(3){
      background-size: 203%;
    }
  }

  &-bottom {
    grid-template-columns: 2fr 7fr 2fr;
    margin-bottom: 191px;
  }

  &-item  {
    background: no-repeat center center;
    background-size: 120% 100% ;
    overflow: hidden;
    height: 100% ;
    transition: 0.6s ease-in-out;

    &:hover {
      transition: 0.6s ease-in-out;
      background-size: 140%  120%; 
    }
  }
}
//dealing with uneven height of pictures
.offers-bottom .offers-item:nth-child(1){
  background-size: 192%;
}

.offers-bottom .offers-item:nth-child(1):hover{
  background-size: 200%;
}

.offers-item:nth-child(2){
  background-size: 100%;
}

.offers-item:nth-child(2):hover{
  background-size: 110%;
}






//Slider

.slider {
  &-wrapper {
    display: flex;
    flex-direction: column; /////////////
    align-items: center;
    position: absolute;
    z-index: 1;
    padding-top: 30px; ///////////
    top: 0;
    width: 100%;
    background-color: rgba(52, 52, 52, 0.94);
    justify-content: flex-start;
  }

  &-container{
   // max-width: 1480px;
    width: 85%;
    height: 100%;
    top: 50%;
    @media (max-width: $xl) {
      max-width: 1170px;
    }
  
    @media (max-width: $lg) {
      max-width: 925px;
    } 
   
  }

  &-content{
    display: flex;
    align-items: center;
    flex-direction: row; /////////////
    padding-top: 350px;  /////////////// becouse background 350px
   /// height: 619px; breaks modal icon when mob version
  }

  &-title{
    padding-top: 116px;
    position: absolute; /////////
    height: 64px;
    width: 192px;

    display: block;
    font-family: $primaryFont;
    font-size: 64px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    background-color: transparent;
    
  }

  &-window {
    width: 50%;  
    overflow: hidden;
    margin: auto;
    @media (max-width: $lg) {

      .slider-window{
        width: 65%;
      }
    }
    @media (max-width: $xs){
      //width: 85%;
      width: 100%;
    }
  }

  &-all-slides {
    height: 620px;
    display: flex;
    transition: 1.6s cubic-bezier(0.33, 0.11, 0.5, 1.03);
    @media (max-width: $sm){
     height: 505px;
    }
  
    .slide div {
      background: no-repeat center center;
      background-size: cover;
      overflow: hidden;
      width: 100%;
      height: 100%;
          
         }
  }

  &-calculation{
    margin-top: 50px;
    row-gap: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 100.4%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;

      &-link{
        font-weight: 900;
      font-size: 24px;
      width: 265px;
      padding: 20px 0;
      margin-top: -20px;
      margin-left: 25px;
      background: $secondColor;
      color: $darkColor;
      text-align: center;
      align-content: center;
      }
  }

  &-closed{
    display: none;
  }


  
}

.slide {

  box-shadow: inset 0px -150px 50px -75px $darkColor;


  
    }



    .slide_body-circle img{
      width: 100%;
              height: 100%;
              background: no-repeat center center;
              background-size: cover;
              overflow: hidden;
          }

  



.arrow {
  
  width: 75px;
  height: 75px;
  background: $mainTextColor;
  border-radius: 50%;
  padding: 9px;
  cursor: pointer;
  position: absolute;
  top: 55%;
  opacity: 0.3;
  transition: 0.4s ease-out;

  &:hover {
    opacity: 0.7;
    transition: 0.4s ease-out;
  }

  &-l {
    left: 11%;
    
  z-index: 6;
  }

  &-r {
    right: 11%;
        
  z-index: 6;
  }
}








@media (max-width: $xl) {

  .backgroundImg{
    height: 250px;
    

    &-offer{
      padding: 78px 0 0;
    }
  }

  .slider-container{
    top: -100px;
  
  }
  .slider-content{
    padding-top: 250px;
    
  }
  .slider-title{
    padding-top: 78px;
  }
  .arrow{
  
  }
}

@media (max-width: $lg) {
  
  .offers{
    &-top {
      grid-template-columns: 1fr 4fr 1fr;
    }
  
    &-bottom {
      grid-template-columns: 1fr 3fr 1fr;
    }
  }

  .offers-item{
    background-size: 175% ;
    height: 100% ;
  }

  .offers-item:hover{
    background-size: 190% ;
  }

  .offers-bottom .offers-item:nth-child(1){
    background-size: 282%;
  }

  .offers-bottom .offers-item:nth-child(1):hover{
    background-size: 255%;
  }

  .arrow{
    top: 50%;
  }

  .slider-window{
    //width: 65%;
  }
  .arrow {
    &-l {
      left: 8%;
    }
  
    &-r {
      right: 8%;
    }
  }
}

@media (max-width: $md){

}

@media (max-width: $sm){
  .backgroundImg-offer {

    &-text{
      text-align: center;
      margin-bottom: 10px;
    }

    &_bottom{
      width: 100%;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      row-gap: 35px;
      align-items: center;
     
    }

    &_button{
      padding: 10px 0;
    }
}

.offers{

  height: 250px;
  &-top{

    .offers-item:nth-child(3){
      background-size: 260% 100%;
    }
    
  }

  &-bottom{

    .offers-item:nth-child(1){
      background-size: 300% 100%;
    }
    
  }

  &-item{
    background-size: 233% 100%;  
    
  }
  
  &-item:nth-child(2){
    background-size: 100% 100%;
  }

  &-item:nth-child(3){
    background-size: 260% 100%;
  }
  
}
.slider{

  &-title{
   margin: auto;
   position: inherit;
  }

  &-content{
    padding-top: 108px;
  }

  &-container{
    width: 85%;
  }

  &-window{
    width: 100%;
  }
}
}

@media (max-width: $xs) {
  .backgroundImg-offer {

    &_bottom{
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }

    &-text{
      width: 200px;
      margin: auto;
    }

    &_bottom p{
      font-size: 18px;
      margin: auto;
    }
    
    &_button{
      margin: auto;
      font-size: 18px;
      padding: 10px 0;
    }
    
  }
  
  .offers{
    height: auto;
    //width: 320px;
    width: 85%;
    row-gap: 50px;
    margin: auto;
    &-top {
      grid-template-columns: 1fr ;
      //row-gap: 50px;
      margin-bottom: 50px;



      .offers-item:nth-child(3){
        background-size:  100% 100%;
      }
      
    }

    
    &-bottom{

      grid-template-columns: 1fr;

      .offers-item:nth-child(1){
        background-size: 100% 100%;
      }
      
    }
  
    &-item{
      height: 300px;
      background-size: 100% 146% ;

      &:nth-child(1):hover{
        transition: 0s ease-in-out;
        background-size: 100% 146%; 
      } 
      &:hover {
        transition: 0s ease-in-out;
        background-size: 100% 100% ; 
      }
    }
    
    &-item:nth-child(2){
      background-size: 100% 100% ;
    }
  
    &-item:nth-child(3){
      background-size: 100% 100%;
    }
  }

  .slider{

    
    &-title{
      width: 200px;
      margin: auto;
      left: 0;
      right: 0;
      //margin-left: 25%;
    }
    &-wrapper{
      position: fixed;
      height: 100vh;
    }

    &-window{
      //width: 320px;
      margin-top: 0px;
      //height: 300px;
    }
    &-all-slides{
      height: 300px;
    }

    &-calculation{
      row-gap: 20px;
      padding-top: 20px;
      width: 300px;
      text-align: center;
      margin: auto;

      &-link{
        margin: auto;
        font-size: 18px;
        padding: 10px 0;
      }
    }
  }
}


